.carousel-item{
    position: relative;
}
.playvideobutton{
    border-radius: 50%;
    position: absolute;
    top:50%;
    right: 50%; 
}
 
.playvideobutton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.3);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.playvideobutton:active::after {
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0);
}

.playvideobutton i {
    position: relative;
    z-index: 1;
}
